body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #111;
  scroll-behavior: smooth;
}

section {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}
